.banner {
	background: url("../images/theend.png");
	background-repeat: no-repeat;				
	background-position: center -150px;
	background-attachment: fixed; 
	background-color: #111;
}

@media (max-width: 1000px) {
	.banner {
		background-position: center top;
		background-size: cover;
		background-attachment: inherit;
	}
}
