html {
	scroll-behavior: smooth;
}

.top {
	background-image: linear-gradient(rgba(255, 0, 140, 0.1), #333);
	padding: 1% 0% 0% 0%;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5);
}

.top iframe{
	width: 100%;
	height: 80px;
}

.infotext {
	text-align: center;
	padding: 0% 4% 0% 4%;
}
.infotext a {
	text-decoration: underline;
	color: lightblue;
}

.currentsong {
	line-height: 20px;
}

body {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif; 
	background-image: linear-gradient(to right,rgb(78, 39, 60),rgb(34, 35, 104));
	height: 100%;
}
.wrapper {
	height: fit-content;
	width: 90%;
	margin: 2% 5% 0% 9%;
	overflow: visible;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper iframe {
	width: 100%;
	height: 380px;
	cursor: pointer;
	border-radius: 15px;
}

.wrapper .song {
	width: fit-content ;
	height: fit-content ;
	background-color: #222;
	margin: 50px 30px 0px 0px;
	float: left;
	opacity: 70%;
	transition: 0.4s;
	border-radius: 15px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


.song:hover {
	opacity: 100%;
}

.month {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.nav {
	float: left;
	position: absolute;
	background-image: linear-gradient(to right,rgba(37, 37, 37, 0.1),#333);
	height: 120%;
	border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.sticky {
	position: fixed;
	top: 0;
}


.sidebarsegment {
	text-align: center;
	padding: 1% 30px 1% 30px;
	height: auto;
	background-image: linear-gradient(to right,rgba(37, 37, 37, 0.1),rgb(37, 37, 37));
	border-bottom: 2px solid #111;
	cursor: pointer;
}

.sidebarsegment:hover {
	text-align: center;
	padding: 1% 30px 1% 30px;
	height: auto;
	background-image: linear-gradient(to right,rgba(37, 37, 37, 0.2),#111);
}

a {
	text-decoration: none;
	color: white;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right,#4e273c,rgb(34, 35, 104));
	display:flex;
	justify-content: center;
	align-items: center;
	opacity: 0%;
	animation: loader-wrapper 6s ease;
	z-index: 10;
	pointer-events: none;
}

.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid #Fff;
	animation: loader 2s infinite ease;
 }

 .loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #fff;
	animation: loader-inner 2s infinite ease-in;
  }

 @keyframes loader {
	0% { transform: rotate(0deg);}
	25% { transform: rotate(180deg);}
	50% { transform: rotate(180deg);}
	75% { transform: rotate(360deg);}
	100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
	0% { height: 0%;}
	25% { height: 0%;}
	50% { height: 100%;}
	75% { height: 100%;}
	100% { height: 0%;}
  }

  @keyframes loader-wrapper {
	0% { opacity: 100%; pointer-events: auto;}
	98% { opacity: 100%; pointer-events: auto;}
	100% { opacity: 0%; display: none; pointer-events: none;}
  } 
::-webkit-scrollbar {
	width: 10px;
  }
  

::-webkit-scrollbar-track {
	background-image: linear-gradient(to top,rgb(78, 39, 60),rgb(34, 35, 104));
}

::-webkit-scrollbar-thumb {
	background: rgb(0, 75, 87);  
	border-radius: 5px;
	width: 8px;
	cursor: pointer;
}
  
::-webkit-scrollbar-thumb:hover {
	background: rgb(0, 90, 104);  
	width: 8px;
}	


