.banner {
	background-image: url("images/moneie.jpg");
}

@keyframes wrapperimgani {
	0% {bottom: -1000px;}
	50% {bottom: -1000px;}
	100% {bottom: 0;}
}	
  
.teunimg {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 25;
	max-height: 75%;
	max-width: 75%;
	animation-name: wrapperimgani;
	animation-duration: 2s;	
}

.link {
	color: #333;
	text-decoration: underline;
}	
.darkmode .link {
	color: white
}

.bar {
	width: 50%;
	height: auto;
	background-color: #888;
	border-radius: 35px;
	overflow: hidden;
	transition: 0.4s;
}

.progress {
	width: 5.1%;
	height: 100%;
	background-color: #25775a;
	border-radius: 35px;
	overflow: visible;
	color: white;
}
.darkmode .bar {
	background-color: #111;
}

.donatieknop {
	background-image: url(images/money.png);
	background-size: 130%;
	width: 35%;
	line-height: 10vh;
	background-position: center center;
	transition: 1s;
	font-size: xx-large;
	text-shadow: 1px 1px 1px #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	border-radius: 200px;
	transform: scale(1.1, 1.1);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
.donatieknop:hover {
	background-size: 100%;
	box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
	text-shadow: 1px 1px 30px #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.disclaimer {
	font-size: small;
	color: #333;
}

.darkmode .disclaimer {
	color: whitesmoke;
}
@media (max-width: 1000px) {
	.bar {
		width: 80%;
		height: 50px;
		margin-bottom: 50px;
	}

	.teunimg {
		max-height: 100%;
		max-width: 100%;
	}

	.progress {
		padding-left: 10px;
	}

	.donatieknop {
		background-size: 120%;
		width: 85%;
		font-size: 55px;
		text-shadow: 3px 3px 3px #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff;
		border-radius: 100px;
	}

	.darkmodebutton {
		margin-left:24px; 
		margin-top: 40px;
		width: 60px;
		height: 60px;
	}
}