.banner {
	background-image: url("images/theend.png");
	background-size: cover;
	background-repeat: no-repeat;				
	background-position: center -80px;
	background-attachment: fixed; 
	background-color: #111;
}

.bannerfade {
	padding: 40vh 0 0 0;		
	background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,222,0) 69%, rgba(69,174,252,0) 100%);
	background-position: center 50%;
	background-repeat: no-repeat;	
	transition: 0.8s;
}

.info {
	background: linear-gradient(180deg, #111 0%, rgb(142, 23, 189) 2%, rgba(0,0,0,0) 100%);
}

.homepagebtn {
	display: inline-block;
	background: linear-gradient(90deg,rgb(30, 144, 189) 0%, rgb(24, 106, 230) 100%);
	padding: 1rem 3rem 1rem 3rem;
	margin: 3rem 0 0 0;
	border-radius: 25px;
	color: white;
	transition: 0.4s;
	background-size: 200%;
	background-position: center right;
}

.homepagebtn:hover {
	background-position: center left;
}

.btnani {
	padding: 0 0 0 0.5rem;
	display: inline-block;
	animation: btnhover 1.5s alternate infinite;;
}


@keyframes btnhover {
	0% {
	  	transform: translate(0rem,0);
	}
	100% {
		transform: translate(50%,0);
	}
  }

.about {
	position: relative;
	margin: -150px 0 48px -500px;
	font-size: 18px;
}

.infotext {
	position: relative;
	z-index: 5;
}

.infotext h2 {
	margin: 0 0 40px 0;
}

svg {
	display: block;
}

.banner svg{
	bottom: 0;
	display: block;
}
  

.center {
	display: flex;
	justify-content: center;
}


@media (max-width: 1000px) {
	.banner {
		background-position: center top;
		background-size: cover;
		background-attachment: inherit;
	}
	.teunimg {
		max-height: 100%;
		max-width: auto;
		width: 150vh;
	}
	.paginaknop {
		width: fit-content;
		line-height: 5vh;
		font-size: 65px;
	}
	.about {
		position: relative;
		margin: 0px 0 0px 0px;
		font-size: 18px;
	}
	.homepagebtn {
		font-size: 40px;
		border-radius: 45px;
		margin: 3rem 0 3rem 0;
	}
	svg.top {
		transform: translate(0, -2px);
	}
	svg.bottom {
		transform: translate(0, 2px);
	}
}
