.banner {
	background-image: url("images/backg.png");
	height: 40vw;
	background-size: cover;
	background-repeat: no-repeat;				
	background-position: center top;
	background-attachment: fixed; 
}

@keyframes clouds{
	0%{transform: translate(0%, 0px);}
	100%{transform: translate(-30%, 0px);}
}

.clouds {
	position: absolute;
	width: 130%;
	height: auto;
	margin-top: -10%;
	animation: alternate infinite 10s ease-in-out clouds;
}


.darkmode .banner {
	background-color: #333;
}	

  
.teunimg {
	max-height: 110%;
	max-width: 110%;
	display:flex;
	justify-content: center;
	align-items: center;
	bottom: -20px;
	transition: 1s;
}
	

@media (max-width: 1000px) {
	.banner {
		height: 40vh;
		background-position: center top;
		background-size: cover;
		background-attachment: inherit;
	}
	.teunimg {
		max-height: 100%;
		max-width: auto;
		width: 150vh;
	}
	.clouds {
		margin-top: 0%;
	}
}
