.banner {
	background-image: url("images/boeddha_geenteun.png");
}
.darkmode .banner {
	background-color: #333;
}	
	 

@keyframes wrapperimgani {
	0% {bottom: -1000px;}
	50% {bottom: -1000px;}
	100% {bottom: 0;}
  }	
  
.teunimg {
	max-height: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	animation-name: wrapperimgani;
	animation-duration: 4s;	
}
	

@media (max-width: 1000px) {
	.teunimg {
		left: -51%;
		max-height: 100vh;
		max-width: 200vw;
		width: 150vh;
	}
}