body {
	background-color: #000000;
	margin: 0%;}


.banner {
	background-image: url("images/achtergrond1.png.png");
}
.darkmode .banner {
	background-color: #333;
	color: white;
}	
@keyframes teunimgani {
	0% {right: -1050px;}
	100% {right: 50px;}
  }	
  
.teunimg {
	margin-right: -50px;
	right: 50px;
	max-height: 75%;
	max-width: 75%;
	animation-name: teunimgani;
	animation-duration: 2s;	
}

.socialcontainer {
	padding-left: 10%;
	padding-right: 10%;
	height:40vh;
	float: none;
	text-align: center;
}
.socialbutton {
	width: 25%;
	margin: 4%;
	float: left;
}
.socialbutton img {
	width: 100%;
	height: auto;
	transition: 2s;
	border-radius: 22px;
	transition-timing-function: ease-in-out;
}

.socialbutton img:hover {
	box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 1);
	transform: rotate(5deg);
}


@media (max-width: 1000px) {
	.teunimg {
		width: 210%;
		max-height: 1000vh;
		max-width: 1000vw;
	}

	.socialbutton {
		width: 75%;
		margin: 14%;
		float: left;
	}
}