body {
	text-align: center;
	background: url(images/backg.jpg) no-repeat;
	background-size: cover;
	font-family: 'Brush Script MT', cursive;
	padding: 0px;
	overflow: hidden;
	text-shadow: 2px 2px white;
}

.wrapper {
	width: 70vw;
	margin: 0 15vw 0 15vw;
	padding: 5% 0 0 0;
}

@keyframes textani {
	0%{color:white;}
	100%{color:red;}
}

h1 {
	font-size: 65px;
	color: red;
	animation-name: textani;
	animation-duration: 4s;
}

p {
	font-size: 35px;
}

@keyframes kerstani {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(0%);}
}

.footer {
	position: absolute;
	bottom:0;
	margin: 0 0 -15px 0;
	animation-name: kerstani;
	animation-duration: 2s;
}

@keyframes iframeani {
	0% {transform:translateX(500%);}
	100% {transform:translateX(0%);}
}

iframe {
	margin: -5% 0 0 25%;
	position: absolute;
	bottom:0;
	animation-name: iframeani;
	animation-duration: 2s;
}
